.list-items { overflow: hidden; }

.list-item {
  .transform(translate3d(0,0,0));
  overflow: hidden;
  position: relative;
  display: block;

  padding: 1rem;

  border-bottom: 1px solid @color-rare;

  &:first-child {
    border-top: 1px solid @color-rare;
  }

  .item-title {
    .font-s3;
    .type-bold;
    //color: @color-empty;
    display: inline-block;
    line-height: 1.1em;
  }

  .item-quantity {
    .font-s2-alt;
    .type-secondary;
    .title-caps;
    .ellipsized;

    float: right;
  }

  .item-description {
    clear: both;
    margin-top: 0.5rem;
  }

  i.material-icons {
    font-size: 1rem;
  }

  &.highlighted { width: 100%; }
}